[global]
fsid = {{ cluster_id }}
mon initial members = {{ hostname_1 }},{{ hostname_2 }},{{ hostname_3 }}
mon host = {{ mon_ip_1}},{{ mon_ip_2}},{{ mon_ip_3}}
public network = {{ public_network }}
#cluster network = {network}[, {network}]
auth cluster required = cephx
auth service required = cephx
auth client required = cephx
#osd journal size = {n}
osd pool default size = 3  # Write an object n times.
osd pool default min size = 2 # Allow writing n copies in a degraded state.
osd pool default pg num = 128
osd pool default pgp num = 128
#osd crush chooseleaf type =

